<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>App Info</string>
			<key>FooterText</key>
			<string>Diese App entstand im Rahmen der Maturaarbeit von Jérôme Hadorn “Wie entwickelt man eine App in 14 Schritten”. Die App dient als digitale Ergänzung zum Klassenbuch der Kantonsschule Limmattal.</string>
		</dict>
	</array>
</dict>
</plist>
